$bg1: #F5F4F2;  // main bg
$bg2: #EBE9E6;  // header bar
$bg3: #E8E7E3;  // tags
$bg4: #E3E1DC;  // filter dropdown bg

$fg1: #575655;
$fg1-muted: #A6A4A2;
$fg2: #6B6967;
$fg2-muted: #928F8D;
$fg3: #696866;
$accent: #58A677;
