$bg1: #F5F4F2;  // main bg
$bg2: #EBE9E6;  // header bar
$bg3: #E8E7E3;  // tags
$bg4: #E3E1DC;  // filter dropdown bg

$fg1: hsla(30,1%,40%,1);
$fg1-muted: #A6A4A2;
$fg2: #6B6967;
$fg2-muted: #928F8D;
$fg3: hsla(40,1%,55%,1);
$accent: #58A677;

$break-desktop: 850px;
