{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=100; IE=9; IE=8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=yes' />

    <title>{% block title %}{{ page_title }} | Joseph Larson{% endblock %}</title>
    <link href='//fonts.googleapis.com/css?family=Source+Code+Pro:200,300|Source+Sans+Pro:300,400,700,400italic,700italic|Merriweather:400,400italic,700,700italic' rel='stylesheet' type='text/css'>    
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    {% block extra_css %}{% endblock %}
    
    <script src="{% static 'js/libs.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/app.js' %}" type="text/javascript"></script>
    {% block extra_js %}{% endblock %}
</head>
<body>
    {% block header %}
    <header>
        <h1 title="Joseph Larson"><a href="/">Joseph Larson</a></h1>
        <nav>
            {% for nav_item in navigation %}
            <a href="{{ nav_item.href }}" {% if nav_item.selected %}class="selected"{% endif %}>{{ nav_item.display }}</a>
            {% endfor %}
        </nav>
        <a class="search">Search</a>
    </header>
    {% endblock header %}
    <section>
        <div class="wrapper">
            <h1 class="hidden">{% block pagetitle %}{{ page_title }}{% endblock %}</h1>
            {% block content %}
            {% endblock %}
            
            {% if debug %}
                {{ debug_data }}
            {% endif %}
        </div>
    </section>
    <footer>
        <div class="wrapper">
            
        </div>
    </footer>
    </body>
</html>
