@-webkit-keyframes card-in {
  0% {
    opacity: 0;
    -webkit-transform: perspective(600) rotateX(70deg) translateY(200%);
            transform: perspective(600) rotateX(70deg) translateY(200%); }
  100% {
    opacity: 1;
    -webkit-transform: perspective(600) rotateX(0deg) translateY(0%);
            transform: perspective(600) rotateX(0deg) translateY(0%); } }
@keyframes card-in {
  0% {
    opacity: 0;
    -webkit-transform: perspective(600) rotateX(70deg) translateY(200%);
            transform: perspective(600) rotateX(70deg) translateY(200%); }
  100% {
    opacity: 1;
    -webkit-transform: perspective(600) rotateX(0deg) translateY(0%);
            transform: perspective(600) rotateX(0deg) translateY(0%); } }
@-webkit-keyframes card-out {
  0% {
    opacity: 1;
    -webkit-transform: perspective(600) rotateX(0deg) translateY(0%);
            transform: perspective(600) rotateX(0deg) translateY(0%); }
  100% {
    opacity: 0;
    -webkit-transform: perspective(600) rotateX(70deg) translateY(200%);
            transform: perspective(600) rotateX(70deg) translateY(200%); } }
@keyframes card-out {
  0% {
    opacity: 1;
    -webkit-transform: perspective(600) rotateX(0deg) translateY(0%);
            transform: perspective(600) rotateX(0deg) translateY(0%); }
  100% {
    opacity: 0;
    -webkit-transform: perspective(600) rotateX(70deg) translateY(200%);
            transform: perspective(600) rotateX(70deg) translateY(200%); } }
html {
  font-size: 62.5%;
  /*62.5% for pixel-like sizing*/ }

body, html {
  padding: 0;
  margin: 0;
  height: 100%; }

body {
  background: #32363F;
  font-size: 1.6rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: #B1B9C9;
  padding-top: 11rem;
  box-sizing: border-box; }

.wrapper {
  max-width: 109.7rem;
  margin: auto;
  padding: 0 3rem; }

body > header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #32363F;
  position: fixed;
  top: 0;
  width: 100%;
  height: 12.7rem;
  text-transform: uppercase;
  box-shadow: 0 0.3rem 0 rgba(0, 0, 0, 0.025);
  z-index: 1000; }
  body > header h1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-indent: -500rem;
    background-repeat: no-repeat;
    margin: 0;
    background: url(../img/line-logo.svg) center center no-repeat;
    position: relative;
    bottom: 0.1rem; }
    body > header h1 a {
      display: block;
      width: 5.7rem;
      height: 3.61rem;
      padding: 3rem 2rem;
      margin: 0 2rem; }
  body > header nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    body > header nav a {
      font-family: 'Source Code Pro', sans-serif;
      font-weight: 200;
      text-decoration: none;
      color: white;
      font-size: 1.8rem;
      padding: 1.3rem 1.5rem;
      margin: 0 2%;
      white-space: nowrap; }
      body > header nav a.selected {
        outline: solid 0.1rem white; }
      body > header nav a:not(.selected):hover {
        outline: solid 0.1rem #7F89A1; }
    body > header nav ul {
      display: none; }
  body > header a.search {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 2.6rem;
    height: 2.6rem;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    text-indent: 500rem;
    background-repeat: no-repeat;
    margin: 0;
    background: url(../img/search.svg) center center no-repeat;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    padding: 4rem; }

body > section {
  box-sizing: border-box;
  padding: 10rem 0 7rem;
  min-height: calc(100vh - 30rem);
  background: #2A2E36; }

.filters {
  margin-bottom: 3.3rem;
  position: relative;
  top: -5.5rem; }
  .filters button {
    display: inline-block;
    border: none;
    background: none;
    font-family: 'Source Code Pro';
    text-transform: uppercase;
    font-size: 1.7rem;
    color: #B1B9C9;
    padding: 0.1rem 0rem 0.1rem;
    cursor: pointer;
    background: transparent;
    -webkit-transition: margin .3s, padding .3s;
    transition: margin .3s, padding .3s; }
    .filters button + button {
      margin-left: 2rem; }
    .filters button:not(.selected):hover {
      color: #CC99CC; }
    .filters button:focus {
      outline: none; }
    .filters button.selected {
      background: #CC99CC;
      color: #2A2E36;
      box-shadow: none;
      padding: 0.1rem 1.1rem 0.1rem;
      border-radius: 1.5rem; }

#masonry {
  margin: auto;
  margin-top: 5rem;
  -webkit-transition: width 0.4s, height 0.4s;
  transition: width 0.4s, height 0.4s; }

.project-card {
  box-sizing: border-box;
  padding: 0 1.8rem;
  width: 26.3rem;
  position: relative;
  margin-bottom: 1.8rem;
  background: #363B45;
  box-shadow: 0rem 0.3rem 0.2rem 0rem rgba(0, 0, 0, 0.18);
  border-radius: 0.3rem;
  position: relative;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: top 0.4s, left 0.4s, right 0.4s, bottom 0.4s;
  transition: top 0.4s, left 0.4s, right 0.4s, bottom 0.4s; }
  .project-card.enter {
    opacity: 1;
    -webkit-animation-name: card-in;
            animation-name: card-in;
    -webkit-animation-duration: .4s;
            animation-duration: .4s; }
  .project-card.leave {
    opacity: 0;
    -webkit-animation-name: card-out;
            animation-name: card-out;
    -webkit-animation-duration: .4s;
            animation-duration: .4s; }
  .project-card header {
    margin: 0 -2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .project-card header > a > :not(img) {
      padding: 0 2rem; }
    .project-card header > a {
      text-decoration: none;
      color: inherit; }
  .project-card h1 {
    font-size: 1.7rem;
    font-weight: 300;
    color: white;
    margin: 2.1rem 0 0.5rem 0;
    line-height: 1.1;
    opacity: .9; }
  .project-card .release {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #99CC99; }
    .project-card .release p {
      margin: 0 0 0.9rem;
      font-size: 1.25rem; }
      .project-card .release p.date {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
            -ms-flex: 1;
                flex: 1;
        text-transform: uppercase; }
  .project-card p {
    font-size: 1.4rem;
    font-weight: 300;
    margin-top: 0;
    line-height: 1.3; }
  .project-card footer {
    padding: .7rem 2rem 1rem;
    border-top: solid 0.1rem #444A57;
    margin: 1.8rem -2rem 0; }
  .project-card .tags a {
    margin-right: .8rem;
    color: #7F89A1;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 300; }
    .project-card .tags a:hover {
      text-decoration: underline; }
  .project-card img {
    width: 100%; }
    .project-card img:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border: 1px solid black; }

.project-categories {
  font-size: 1.2rem; }
  .project-categories a {
    background: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    color: grey;
    padding: 0.5rem 1.0rem;
    display: inline-block;
    box-shadow: 0rem 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
    border-radius: 0.2rem; }

.hidden {
  position: absolute;
  left: -30rem; }



/*# sourceMappingURL=style.css.map */
